# Backend
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/routes/__pycache__/
backend/*.pyc
backend/.env
backend/app.db
backend/chroma_store/
backend/app/uploaded_files/*
!backend/app/uploaded_files/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS/editor
.DS_Store
.vscode/
